.desktop{
    display: flex;
    background-color: rgb(255, 255, 255);
    color: white;
    justify-content: space-between;
    color: rgb(0, 0, 0);
    position: fixed;
    width: 100%;
    height: 3.5rem;
    z-index: 1;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2);
}

.logo-div{
    display: flex;
    align-items: center;
    width: 25%;
    padding-left: 2%;
}

.logo{
    width: 2.2rem;
    cursor: pointer;
    background-color: black;
    border-radius: 50%;
    margin-right: 3%;
}

.icon{
    width: 1.4rem;
    margin-left: 10px;
}

.login-btn{
    font-weight: bolder;
    font-size: small;
    margin-left: 20%;
    text-decoration: none;
}

.nav-title{
    cursor: pointer;
    line-height: 100%;
    font-size: medium;
}
.links-div{
    display: flex;
    align-items: center;
    padding-right: 2%;
}

.btn-active{
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.btn-inactive{
    display: flex;
    align-items: center;
    border-radius: 10px;
    transition: 0.2s ease-in-out;
    color: rgb(190, 189, 189);
    text-decoration: none;
}

.btn-active:hover, .btn-inactive:hover{
    color: rgb(121, 51, 201);
}


.mobile{
    display: none;
}


@media (max-width: 768px){
    .desktop{
        display: none;
    }
    .mobile{
        position: relative;
        display: flex;
        background-color: #ffffff;
        justify-content: space-between;
        color: rgb(0, 0, 0);
        position: fixed;
        width: 100%;
        height: 56px;
        z-index: 1;
    }
    .navLink{
        color: rgb(62, 62, 141); 
      }
      .logo-div{
        width: 40%;
    }
    
  .bars{
        width: 100%;
        border: none;
    }
    .bars-btn{
        border: none;
        background-color: white;
        width: 15%;
    }
    .drawer-div{
        display: flex;
        align-items: right;
        justify-content: end;
        width: 200px;
    }
    .drawer{
        color: black;
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 10%;
        padding: 2%;
        margin-top: 67px;
        margin-right: 15px;
    }
    .icon-mobile{
        width: 18px;
        margin: 5px;
    }
    .btn-active{
        transition: 0.2s ease-in-out;
        color: rgb(0, 0, 0);
    }
    
    .btn-inactive{
        transition: 0.2s ease-in-out;
        color: rgb(67, 66, 66);
    }
    
    .btn-active:hover, .btn-inactive:hover{
        color: rgb(121, 51, 201);
    }
}